input[type="submit"] {
  background: #000000;
  border: none;
  color: white;
  border-radius: 4px;
  height: 45px;
  width: 100%;
}

.custom-button {
  background: #000000;
  border: none;
  color: white;
  border-radius: 4px;
  padding: .7em 1em;
}
